.nav {
    padding: 30px 0;
    position: relative;
}
.nav, .nav ul, .sign_div{
    display: flex;
    align-items: center;
}
.nav{
    justify-content: space-between;
}
.nav a {
    font-weight: 700;
    font-size: 14px;
}
.nav .logo {
    font-weight: 800;
    font-size: 18px;
}
ul, .sign_div{
    gap: 30px;
}
.sign_div  .sign_up{
    background: #4F46BA;
    color: #fff;
}
.menu{
    display: flex;
}
.menu{
    display: none;
}
.mobile_nav{
    background: #fff;
    position: absolute;
    top: 80%;
    right: 0;
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 10px;
    display: none;
}
.mobile_nav ul{
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.mobile_nav .sign_div{
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
@media screen and (max-width: 768px) {
    .blur{
        display: block !important;
    }
    .menu, .mobile_nav{
        display: flex;
        z-index: 4;
    }
    .nav > ul, .nav > .sign_div {
        display: none;
    }
}