.nav {
    padding: 30px 0;
}
.nav, .nav ul, .sign_div{
    display: flex;
    align-items: center;
}
.nav{
    justify-content: space-between;
}
.nav a {
    font-weight: 700;
    font-size: 14px;
}
.nav .logo {
    font-weight: 800;
    font-size: 18px;
}
ul, .sign_div{
    gap: 30px;
}
.sign_div  .sign_up{
    background: #4F46BA;
    color: #fff;
}