.payment{

}
.payment .wrapper{
    display: flex;
    align-items: center;
    gap: 50px;
}
.payment .wrapper > * {
    flex-basis: 50%;
}
.payment .wrapper .image_div img {
    width: 100%;
    display: block;
}
.payment_info{
    padding-top: 70px;
}
.payment_info .heading_small{
    text-transform: uppercase;
    color: #3734A9;
    font-weight: 800;
    margin-bottom: 20px;
}
.payment_info h2{
    font-weight: 800;
    font-size: 40px;
    max-width: 500px;
    line-height: 50px;
    margin-bottom: 30px;
}
.payment_info .payment_body{
    color: #757095;
    max-width: 500px;
    margin-bottom: 30px;
}
.payment_info button{
    color: #fff;
    background: #3734A9;
}
@media (max-width: 1045px ) and (min-width:1000px ) {
    .payment_info h2{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:1000px) {
    .payment .image_div{
        display: none;
    }
    .payment_info{
        flex-basis: 100% !important;
        padding: 0;
    }
    .payment_info h2{
        font-size: 50px;
        max-width: 600px;
        line-height: 55px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:618px) {
    .payment_info h2{
        font-size: 45px;
    }
}
@media screen and (max-width: 585px){
    .payment_info h2{
        font-size: 30px;
        line-height: unset;
    }
}